<a href="https://colab.research.google.com/github/ilham-mukti/harga-rumah-jakarta/blob/main/hitung_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install folium

In [3]:
import pandas as pd
import folium
import numpy as np

# Hitung Distance pakai data lat_long rumah + lat long kecamatan

In [ ]:
# https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/data_rumah_bersih_lat_long.csv
# https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/lat_long_kecamatan_jakarta.csv

In [ ]:
data_alamat = pd.read_csv("https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/data_rumah_bersih_lat_long.csv")
data_alamat.head()

                                          nama_rumah  ...  longitude
0                          rumah baru patra kuningan  ...  106.83154
1  Hunian mewah 3 lantai di lengkapi Rooftop loka...  ...  106.81966
2  5 Bedrooms Rumah Kebayoran Baru, Jakarta Selat...  ...  106.79754
3                          Rumah Dijual Pondok Indah  ...  106.78056
4       Dijual rumah pangeran antasari mewah & Elite  ...  106.81267

[5 rows x 12 columns]

In [ ]:
m = folium.Map(location=[-6.232970,106.834572], tiles='OpenStreetMap', zoom_start=11)
m

In [ ]:
for x in range(1, len(data_alamat.latitude)):
  folium.Marker(location=[data_alamat.latitude[x], data_alamat.longitude[x]], popup=data_alamat.harga_m2_kategori[x], tooltip=data_alamat.harga_m2_kategori[x], icon=folium.Icon(color='blue',icon="car", prefix='fa')).add_to(m)
m

In [ ]:
datas_kecamatan = pd.read_csv("https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/lat_long_kecamatan_jakarta.csv")
datas_kecamatan.head()

        WADMKC         WADMKK  ...  latitude   longitude
0     MATRAMAN  JAKARTA TIMUR  ... -6.203613  106.864537
1  PULO GADUNG  JAKARTA TIMUR  ... -6.193199  106.889005
2   JATINEGARA  JAKARTA TIMUR  ... -6.227304  106.877425
3  KRAMAT JATI  JAKARTA TIMUR  ... -6.276307  106.865442
4   PASAR REBO  JAKARTA TIMUR  ... -6.326415  106.857256

[5 rows x 9 columns]

In [ ]:
data_kecamatan = datas_kecamatan[datas_kecamatan['WADMKK'] == 'JAKARTA SELATAN']
data_kecamatan = data_kecamatan[['WADMKC', 'latitude', 'longitude']]
data_kecamatan.head()

              WADMKC  latitude   longitude
34             TEBET -6.228843  106.850904
35        SETIA BUDI -6.219653  106.829994
36  MAMPANG PRAPATAN -6.252314  106.820986
37      PASAR MINGGU -6.290832  106.829292
38    KEBAYORAN LAMA -6.249502  106.780078

In [86]:
data_kecamatan.head(10)

              WADMKC  latitude   longitude
34             TEBET -6.228843  106.850904
35        SETIA BUDI -6.219653  106.829994
36  MAMPANG PRAPATAN -6.252314  106.820986
37      PASAR MINGGU -6.290832  106.829292
38    KEBAYORAN LAMA -6.249502  106.780078
39          CILANDAK -6.292671  106.793333
40    KEBAYORAN BARU -6.244730  106.801442
41          PANCORAN -6.255339  106.843633
42         JAGAKARSA -6.334072  106.822342
43      PESANGGRAHAN -6.250397  106.758676

In [92]:
for x in data_kecamatan['WADMKC'].index:
  print(x, data_kecamatan['WADMKC'][x])

34 TEBET
35 SETIA BUDI
36 MAMPANG PRAPATAN
37 PASAR MINGGU
38 KEBAYORAN LAMA
39 CILANDAK
40 KEBAYORAN BARU
41 PANCORAN
42 JAGAKARSA
43 PESANGGRAHAN

In [73]:
data_alamat['nomor'] = data_alamat.index

In [107]:
def convert(x):
  index = 43
  return np.abs(data_kecamatan.longitude[index] - data_alamat.longitude[x]) + np.abs(data_kecamatan.latitude[index] - data_alamat.latitude[x])

In [108]:
data_alamat['PESANGGRAHAN'] = data_alamat.nomor.apply(convert)
data_alamat.head(2)

                                          nama_rumah  ...  PESANGGRAHAN
0                          rumah baru patra kuningan  ...      0.089001
1  Hunian mewah 3 lantai di lengkapi Rooftop loka...  ...      0.145088

[2 rows x 24 columns]

In [109]:
data_alamat.to_csv("data_rumah_bersih_distance.csv", index=False)

# Pilih kelurahan terdekat

In [18]:
datas = pd.read_csv("https://github.com/ilham-mukti/harga-rumah-jakarta/raw/main/data/data_rumah_bersih_distance.csv")
datas.columns

Index(['nama_rumah', 'kamar_mandi', 'kamar_tidur', 'luas_m2', 'harga',
       'harga_m2', 'alamat', 'link', 'harga_kategori', 'harga_m2_kategori',
       'latitude', 'longitude', 'distance', 'nomor', 'TEBET', 'SETIA BUDI',
       'MAMPANG PRAPATAN', 'PASAR MINGGU', 'KEBAYORAN LAMA', 'CILANDAK',
       'KEBAYORAN BARU', 'PANCORAN', 'JAGAKARSA', 'PESANGGRAHAN'],
      dtype='object')

In [19]:
datas['kecamatan_terdekat'] = datas.loc[:, 'TEBET': 'PESANGGRAHAN'].idxmin(axis=1)

In [23]:
datas.drop('distance', axis=1, inplace=True)

In [25]:
datas.to_csv("data_rumah_bersih_distance.csv", index=False)

In [26]:
datas.head()

                                          nama_rumah  ...  kecamatan_terdekat
0                          rumah baru patra kuningan  ...          SETIA BUDI
1  Hunian mewah 3 lantai di lengkapi Rooftop loka...  ...           JAGAKARSA
2  5 Bedrooms Rumah Kebayoran Baru, Jakarta Selat...  ...      KEBAYORAN BARU
3                          Rumah Dijual Pondok Indah  ...      KEBAYORAN LAMA
4       Dijual rumah pangeran antasari mewah & Elite  ...    MAMPANG PRAPATAN

[5 rows x 24 columns]