<a href="https://colab.research.google.com/github/ilham-mukti/harga-rumah-jakarta/blob/main/Jakarta_Maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install geopandas

In [ ]:
!pip install folium

In [5]:
import geopandas as gpd
import folium 
from folium.plugins import MarkerCluster
from shapely import wkt
import pandas as pd

In [ ]:
df = gpd.read_file("/content/Batas_Kec_DKI_Jakarta_Update.shp")
df.head()

In [ ]:
def convert_to_latlong(x):
  row = str(x)
  result = wkt.loads(row)
  lng = result.centroid.coords[0][0]
  lat = result.centroid.coords[0][1]
  return lng

In [ ]:
df['latitude'] = df.geometry.apply(convert_to_latlong)

In [ ]:
df['longitude'] = df.geometry.apply(convert_to_latlong)

In [ ]:
df.head()

        WADMKC         WADMKK  ...  latitude   longitude
0     MATRAMAN  JAKARTA TIMUR  ... -6.203613  106.864537
1  PULO GADUNG  JAKARTA TIMUR  ... -6.193199  106.889005
2   JATINEGARA  JAKARTA TIMUR  ... -6.227304  106.877425
3  KRAMAT JATI  JAKARTA TIMUR  ... -6.276307  106.865442
4   PASAR REBO  JAKARTA TIMUR  ... -6.326415  106.857256

[5 rows x 9 columns]

In [ ]:
m = folium.Map(location=[-6.200000, 106.816666], zoom_start=11, tiles='openstreetmap')
m

In [ ]:
for _, r in df.iterrows():
    # Without simplifying the representation of each borough,
    # the map might not be displayed
    sim_geo = gpd.GeoSeries(r['geometry']).simplify(tolerance=0.0001)
    geo_j = sim_geo.to_json()
    geo_j = folium.GeoJson(data=geo_j,
                           style_function=lambda x: {'fillColor': 'green'})
    folium.Popup(r['WADMKC']).add_to(geo_j)
    geo_j.add_to(m)
m

In [ ]:
m = folium.Map(location=[-6.232970,106.834572], tiles='OpenStreetMap', zoom_start=11.4)
#cluster = MarkerCluster().add_to(m)
m

In [ ]:
for x in range(1, len(df.WADMKC)):
  folium.Marker(location=[df.latitude[x], df.longitude[x]], popup=df.WADMKC[x], tooltip=df.WADMKC[x], icon=folium.Icon(color='blue',icon="car", prefix='fa')).add_to(m)
m

In [ ]:
df.to_csv("jakarta_kecamatan_maps.csv", index=False)

In [38]:
datas = pd.read_csv("https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/data_rumah_bersih_distance.csv")
datas.head()

                                          nama_rumah  ...  kecamatan_terdekat
0                          rumah baru patra kuningan  ...          SETIA BUDI
1  Hunian mewah 3 lantai di lengkapi Rooftop loka...  ...           JAGAKARSA
2  5 Bedrooms Rumah Kebayoran Baru, Jakarta Selat...  ...      KEBAYORAN BARU
3                          Rumah Dijual Pondok Indah  ...      KEBAYORAN LAMA
4       Dijual rumah pangeran antasari mewah & Elite  ...    MAMPANG PRAPATAN

[5 rows x 24 columns]

In [13]:
datas.columheadns

Index(['nama_rumah', 'kamar_mandi', 'kamar_tidur', 'luas_m2', 'harga',
       'harga_m2', 'alamat', 'link', 'harga_kategori', 'harga_m2_kategori',
       'latitude', 'longitude', 'nomor', 'TEBET', 'SETIA BUDI',
       'MAMPANG PRAPATAN', 'PASAR MINGGU', 'KEBAYORAN LAMA', 'CILANDAK',
       'KEBAYORAN BARU', 'PANCORAN', 'JAGAKARSA', 'PESANGGRAHAN',
       'kecamatan_terdekat'],
      dtype='object')

In [17]:
kecamatans = ['TEBET', 'SETIA BUDI',
       'MAMPANG PRAPATAN', 'PASAR MINGGU', 'KEBAYORAN LAMA', 'CILANDAK',
       'KEBAYORAN BARU', 'PANCORAN', 'JAGAKARSA', 'PESANGGRAHAN']

for kecamatan in kecamatans:
  harga_jagakarsa = datas[datas.kecamatan_terdekat == kecamatan]
  rata2 = int(harga_jagakarsa['harga_m2'].mean())
  print(kecamatan, rata2)

TEBET 29926256
SETIA BUDI 53573137
MAMPANG PRAPATAN 57233467
PASAR MINGGU 24242697
KEBAYORAN LAMA 45224484
CILANDAK 24922591
KEBAYORAN BARU 50648193
PANCORAN 145727785
JAGAKARSA 25566033
PESANGGRAHAN 19826045

In [29]:
lat_long_kecamatan = pd.read_csv("https://raw.githubusercontent.com/ilham-mukti/harga-rumah-jakarta/main/data/lat_long_kecamatan_jakarta.csv")
lat_long_kecamatan = lat_long_kecamatan[lat_long_kecamatan.WADMKK == 'JAKARTA SELATAN']

In [30]:
lat_long_kecamatan.head()

              WADMKC           WADMKK  ...  latitude   longitude
34             TEBET  JAKARTA SELATAN  ... -6.228843  106.850904
35        SETIA BUDI  JAKARTA SELATAN  ... -6.219653  106.829994
36  MAMPANG PRAPATAN  JAKARTA SELATAN  ... -6.252314  106.820986
37      PASAR MINGGU  JAKARTA SELATAN  ... -6.290832  106.829292
38    KEBAYORAN LAMA  JAKARTA SELATAN  ... -6.249502  106.780078

[5 rows x 9 columns]

In [34]:
def cari_rata(x):
  harga = datas[datas.kecamatan_terdekat == x]
  rata2 = int(harga['harga_m2'].median())
  return rata2

In [35]:
lat_long_kecamatan['harga_m2_rata2'] = lat_long_kecamatan.WADMKC.apply(cari_rata)

In [39]:
lat_long_kecamatan.head(10)

              WADMKC           WADMKK  ...  harga_rata2  harga_m2_rata2
34             TEBET  JAKARTA SELATAN  ...   6600000000        28515625
35        SETIA BUDI  JAKARTA SELATAN  ...  16500000000        48223350
36  MAMPANG PRAPATAN  JAKARTA SELATAN  ...  13750000000        30952381
37      PASAR MINGGU  JAKARTA SELATAN  ...   3850000000        22012799
38    KEBAYORAN LAMA  JAKARTA SELATAN  ...  15000000000        41666667
39          CILANDAK  JAKARTA SELATAN  ...   5900000000        22972602
40    KEBAYORAN BARU  JAKARTA SELATAN  ...  12750000000        34378476
41          PANCORAN  JAKARTA SELATAN  ...   7600000000        19955731
42         JAGAKARSA  JAKARTA SELATAN  ...   1900000000        18333333
43      PESANGGRAHAN  JAKARTA SELATAN  ...   2600000000        16608108

[10 rows x 11 columns]

In [37]:
lat_long_kecamatan.to_csv("data_jadi_untuk_visualisasi.csv", index=False)